// .bg-light{
//     // color: blanchedalmond !important;
//     // background-color: rgb(231, 0, 0) !important;    
// }

// .navbar-light{
//     color: blanchedalmond !important;
// }

.main-lobby {
    border-radius: 15px;
    background-color: aqua;
    margin-top: 55px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // margin-right: -50%;
    // transform: translate(-50%, -50%);
    min-height: 80vh;
}


footer > .container {
    margin-top: 15px;
  }